body {
    margin: 0;
    padding: 0;
    background-color: #BE95C4;
    color: #231942;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    

}

#main {
    display: flex;
    background-color: #BE95C4;
}

.card {
    height:323px;
    width: 204px;
    background-color: #9F86C0;
    border: solid #5E548E 5px;
    text-align: center;
    font-size: 100px;
    margin: 10px;
    padding-top: 50px;
}

.option1, .option2, .option3, .option4 {
    background-color: #A192B4;
    text-align: center;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
}


.topic-title {
    background-color: #9F86C0;
    text-align: center;
    font-size: 20px;
    margin: 10px 9px 10px 9px;
}

.c-ans {
    background-color: #BE95C4;
    
}

.w-ans {
    background-color: #BE95C4

}

.sticky {
    position: fixed;
    font-size: 30px;
    top: 20px;
    right: 20px;
    background-color: #BE95C4;
    padding: 10px 20px;
    border: 3px solid #ff6767;
  }

a {
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #d8bdfa;
    color: #222222;
}
a:hover {
        border-color: #000000;
        background: #f6d9fb;
    }
