html{
  height:100%
}
body{
  height:100%;
  background: url("566bg.png") center center no-repeat;
  background-size:cover;
  align-items:center;
  font-family:sans-serif;
  margin-top:100px;
  overflow:hidden
}
#brand{  
  display:flex;
  justify-content:center;
  text-align:center;
  cursor:pointer;
}
#brand img{
  display:block;
  width:80vw;
  max-width:700px;
  height:auto;
  transition:0.2s
} 

a{
  display:flex;
  justify-content:center;
  text-align: center;
  font-family: 'Passion One';
  font-size:3em;
  color:#333;
  font-weight:800;
  text-decoration:none;
  transition:0.4s
}

#players {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#players input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 36px;
  :hover {
      border-color: #ccc;
  }
  :focus{
      border-color: #9147ff;
      background: #fff;
  }
  
}

#players p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}